{{/* ── 후원하기 모달 ── */}}
<div class="modal-overlay" :class="{ open: sponsorModal }" @click.self="sponsorModal = false" @contextmenu.prevent="sponsorModal = false">
  <div class="modal-box modal-box--sponsor" @contextmenu.prevent>
    <div class="modal-header">
      <span class="modal-title">후원하기</span>
    </div>
    <div class="modal-body sponsor-modal-body">
      <div class="sponsor-modal-logos">
        <img src="/images/sponsor/01_kakao_logo.jpg" alt="">
        <img src="/images/sponsor/02_toss_logo.jpg" alt="">
      </div>
      <p class="sponsor-modal-desc">거울이 흐려지지 않도록 꾸준히 노력하겠습니다.<br>감사합니다.</p>
    </div>
  </div>
</div>
